$primary-color: #37AB00;
$background-secondary: #FFF;
$background: #FBFEF4;

$transparent-black-30: #0000004D;
$transparent-black-20: #00000033;
$transparent-black-03: #00000008;
$transparent-black-70: #000000b3;

$white: $background-secondary;

// icons icomoon.io
$s-artists: "\e900";
$s-home: "\e90d4";
$s-playlist: "\e905d";
$s-search: "\e906d";

