$primary-color: #37AB00;
$secondary-background: #FFF;
$background: #FBFEF4;

$transparent-black-30: #0000004D;
$transparent-black-20: #00000033;
$transparent-black-03: #00000008;
$transparent-black-70: #000000b3;

$white: $secondary-background;